<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Project 1-Sivaraman</title>
<head> Project1-Sivaraman</title>
<script type="text/javascript" src="javascripts/checkanswers.js">
</script>
</head>
<body>
<div id="contact">
    <form action="/" method="post">
    		<table align="center">
    		<tr><td><label for="email">Username:</label>
            <td><input id="email" name="username" placeholder="Your name" /></td></tr>
            <tr><td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" placeholder="Password" /></td></tr>
            <tr><td>&nbsp;</td><td align="center"><input type="submit" id="btnLogin" value="Login" /></td></tr>
            <p><%= tagline %></p>
    </form>
</div>
</body>
</html>